

#title{
  font-size: 50px;
  text-align: center;
  color: red;
  background-color: whitesmoke;
  width:100vw;
  font-weight: bold;
  font-family:monospace;
}
#description{
  font-size: larger;
  font-weight: bolder;
  margin:10px;
}

 